.item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 24px 20px;
    grid-template-areas:
        "image content content del"
        "image prop count count";

    @media (max-width: 540px) {
        gap: 10px;
        grid-template-areas:
            "image content content del"
            "prop prop count count";
    }
}

.image {
    grid-area: image;
    width: 160px;
    height: 160px;
    object-fit: cover;

    @media (max-width: 540px) {
        width: 80px;
        height: 80px;
    }
}

.content {
    grid-area: content;
}

.title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 12px;

    @media (max-width: 540px) {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 15px;
    }
}

.price {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 24px;

    @media (max-width: 540px) {
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 15px;
    }
}

.vendorCode {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    @media (max-width: 540px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8A8A8A;

    @media (max-width: 540px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.prop {
    grid-area: prop;
    display: flex;
    gap: 20px;
}

.color {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorTitle {
    margin-bottom: 12px;

    @media (max-width: 540px) {
        margin-bottom: 4px;
    }
}

.colorItem {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    border: 0.4px solid #8a8a8a;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--data-color);
        border: 0.4px solid #8a8a8a;
    }
}

.size {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sizeTitle {
    margin-bottom: 12px;

    @media (max-width: 540px) {
        margin-bottom: 4px;
    }
}

.sizeItem {
    width: 46px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #000;
}

.del {
    grid-area: del;
    width: 24px;
    height: 24px;
    background: url("../../close.svg") center no-repeat;
    justify-self: end;
    align-self: start;
}

.count {
    grid-area: count;
    justify-self: end;
    align-self: end;
}