@import 'fonts';

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: Inter, sans-serif;
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
}

img,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    display: block;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure {
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.input-hide {
    appearance: none;
}